@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.wrap {
  background-color: rgb(243, 243, 243);
}

.container {
  max-width: 720px;
  min-height: 100vh;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
}

.title {
  font-family: "HakgyoansimWoojuR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

input:focus {
  outline: none;
}
